<html>
<div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">

        <div class="text-center mt-4">
          <h1 class="h2">Welcome To Winshot </h1>

        </div>

        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <img src="./assets/2.png" class="img-fluid rounded-circle" width="132" height="132">
              </div>
              <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="form-group" >
                  <label>Last Name</label>
                  <input class="form-control form-control-lg" type="text" name="nom" placeholder="Enter your Last Name"
                         formControlName="nom" [ngClass]="{'is-invalid':nom&&nom.touched&&nom.invalid}">
                  <div class="invalid-feedback">
                    <div> Last Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control form-control-lg" type="text" name="prenom" placeholder="Enter your First Name"
                         formControlName="prenom" [ngClass]="{'is-invalid': prenom&&prenom.touched&&prenom.invalid}">
                  <div class="invalid-feedback">
                    <div> First Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control form-control-lg" type="text" name="email" placeholder="Enter your email"
                         formControlName="email" [ngClass]="{'is-invalid': email&&email.touched&&email.invalid}">
                  <div class="invalid-feedback">
                    <div> email is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password"
                         formControlName="password" [ngClass]="{'is-invalid': password&&password.touched&&password.invalid}">
                  <div class="invalid-feedback">
                    <div> password is required</div>
                  </div>
                </div>



                <div class="text-center mt-3">

                  <button type="submit" class="btn btn-lg btn-primary" >SignIn</button>
                  <button (click)="toSignIn()" class="btn btn-lg btn-danger">SignUp</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</html>
